html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.r {
    height: 6.25vh;
    width: 6.25vh;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}

#canvas {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}